<header>
  <body>
  <section>
    <h1 id ="dev">Faça seu login</h1>
    <form action="" class="login-form">
      <h1 id="login" class="login">Login:</h1>
      <div class="txtb">
        <input placeholder="Login:"/>
      </div>
      <div class="txtb">
        <input type="password" placeholder="Senha"/>
      </div>
      <input type="submit" class="logbtn" value="Entrar" style="cursor: pointer;">
      <div id="Criar"class="bottom-text">
        Você tem uma conta? <a href="#">Criar Conta</a>
      </div>
      <div id="Criar" class="bottom-text">
       <a href="#">Esquecer Senha</a>
      </div>
    </form>

  </section>
  <footer>

  </footer>
  </body>
</header>
