<header>
  <section>
    <div class="header">
      <input type="checkbox" id="control-nav" />
      <label for="control-nav" class="control-nav"></label>
      <label for="control-nav" class="control-nav-close"></label>
      <img id="DevLogo" src="assets/loguinho01.png"/>
      <nav class="float-r">
        <ul class="list-auto">
          <li id="NomeHelp">
            <div class="container">
              <div class="row justify-left q-mr-sm">
                <div class="col-2"></div>
              </div>
            </div>
          </li>
          <li>
            <router-outlet class="item-menu" :to="{ name: 'Inicio' }">Inicio</router-outlet>
          </li>
          <li>
            <router-outlet class="item-menu" :to="{ name: 'quemE' }">Quem é Bruno</router-outlet>
          </li>
          <li>
            <router-outlet class="item-menu" :to="{ name: 'projetos' }">Projetos Recentes</router-outlet>
          </li>
          <li>
            <router-outlet class="item-menu" :to="{ name: 'curriculo' }">Curriculo</router-outlet>
          </li>
          <li>
            <router-outlet class="item-menu" :to="{ name: 'informeAqui' }">Informe Aqui</router-outlet>
          </li>
          <li>
            <router-outlet class="item-menu" :to="{ name: 'gitHub' }">GitHub</router-outlet>
          </li>
        </ul>
      </nav>
    </div>
    <div class="container">
      <div class="row justify-center q-mb-xl">
        <div class="col-12">
          <img id="ImgBanner" slot="media" src="assets/note02.jpg" />
          <h1 id="CAFe">Portifolio DevIDe></h1>
        </div>
      </div>
    </div>
  </section>
</header>